schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vacancies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vacancy" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="company_logo"/>
              <xs:element type="xs:string" name="company_name"/>
              <xs:element type="xs:string" name="position"/>
              <xs:element type="xs:string" name="salary"/>
              <xs:element type="xs:string" name="experience"/>
              <xs:element type="xs:string" name="location"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
